.image-grid {
  padding: 50px 150px;
  justify-content: center;
  align-items: center;
}

.my-masonry-grid {
  display: flex;
  margin-left: -10px;
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 10px;
  background-clip: padding-box;
}

.image-wrap {
  width: 100%;
  margin: 10px;
}

.image-wrap img {
  border-radius: 10px;
}

.lottie-wrap {
  padding: 120px;
}

@media (max-width: 1024px) {
  .image-grid {
    padding: 40px 50px;
   
  }
}

@media (max-width: 500px) {
  .image-grid {
    padding: 30px;
   
  }
}
