.nav {
    padding: 30px 100px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    /* color: white; */
}

.link {
    padding: 0 10px;
    
}
.router-link {
    /* color: hsla(0,0%,100%,.5); */
    color: red;
    text-decoration: none;
}